@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;800&family=Montserrat:wght@100;400;500;600;800&display=swap");

:root {
  --primary-color: #1b5b31;
  --grey-btn-color: #f5f0ec;
  --bg-intro: #dcc1ab;
  --bg-oferta: #f5f0ec;
  --black-color: #111;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Inter;
}

h1,
h2,
h3,
h4 {
  font-family: Montserrat;
  font-weight: 500;
}

hr {
  color: var(--grey-btn-color);
}

h3 {
  font-size: 28px;
  line-height: 115%;
}

p {
  color: var(--black-color);
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}

a {
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: var(--primary-color);
}

.menu {
  padding: 0.7rem;
  transition: all 0.5s ease-in-out;
}

.menu:hover {
  color: var(--primary-color);
}

#intro {
  background-color: var(--bg-intro);
}

#oferta {
  background-color: var(--bg-oferta);
}

#firma {
  color: var(--grey-btn-color);
  background-color: var(--primary-color);
}

#realizacje {
  background-color: var(--bg-intro);
  color: var(--black-color);
}

#social {
  background-color: #fff;
  color: var(--grey-btn-color);
  padding: 60px 0;
}

#footer {
  background-color: var(--black-color);
  color: var(--grey-btn-color);
}

#left-btn {
  background-color: var(--bg-oferta);
}

#right-btn {
  background-color: var(--bg-oferta);
}

#right-btn:hover img,
#left-btn:hover img {
  animation: shake 0.5s infinite;
}

.baner {
  background-color: var(--primary-color);
}

.baner p {
  color: var(--grey-btn-color);
}

.baner h4 span {
  font-family: Inter;
}

@media (min-width: 1024px) {
  .baner {
    padding: 110px 120px;
  }
  .baner h3,
  .baner h4 {
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -2px;
  }
  .baner h4 span {
    letter-spacing: 1px;
  }
}

.contact-btn {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--grey-btn-color);
  transition: all 0.5s ease-in-out;
}

.instagram-btn {
  color: var(--primary-color);
  background-color: var(--grey-btn-color);
  border: 1px solid var(--grey-btn-color);
  transition: all 0.5s ease-in-out;
}

.instagram-btn:hover {
  color: var(--grey-btn-color);
  background-color: transparent;
}

.contact-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.realisation-btn {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  transition: transform 0.3s ease-in-out;
}

.realisation-btn:hover img {
  animation: bounce 0.5s infinite;
}

.meet-btn {
  transition: all 0.3s ease-in-out;
  border: 1px solid;
}

.meet-btn:hover img {
  animation: shake 0.5s infinite;
}

.more-btn {
  color: var(--primary-color);
  gap: 10px;
  border-bottom: 1px solid var(--primary-color);
  transition: all 0.5s ease-in-out;
}

.more-btn:hover {
  gap: 12px;
}

#expandButton {
  color: var(--black-color);
  border: 1px solid var(--black-color);
  border-radius: 200px;
  transition: all 0.3s ease-in-out;
}

#expandButton:hover img {
  animation: bounce 0.5s infinite;
}

.small-description {
  color: var(--primary-color);
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.12px;
}

.color-grey-text {
  color: var(--grey-btn-color);
}

.gallery {
  columns: 3 200px;
  gap: 0.4rem;
  width: 100%;
  margin: 0 auto;
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 100%);
  mask-image: linear-gradient(to top, transparent 0%, black 100%);
}

.grid-item {
  display: inline-block;
  width: 100%;
  padding: 5px;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox img {
  width: auto;
  object-fit: contain;
}

.lightbox-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 48px;
  font-weight: 400;
  background-color: transparent;
  color: white;
  padding: 15px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.lightbox-btn:active,
.lightbox-btn:hover {
  color: #808080;
  animation: shake 0.5s infinite;
}

.slider-content {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.slider-image img {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.slider-content.active {
  transform: translateX(0);
}

.slider-image.active img {
  transform: translateX(0);
}

.slide-in-right {
  animation: slideInRight 0.5s ease-in-out forwards;
}

.slide-in-left {
  animation: slideInLeft 0.5s ease-in-out forwards;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-3px);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: -translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
